In [20]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.2.3'

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv')

In [4]:
# number of records
df.shape[0]

2160

In [5]:
df.head(2)

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.0
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.0

In [6]:
df['Brand'].unique()

array(['Asus', 'Alurin', 'MSI', 'HP', 'Lenovo', 'Medion', 'Acer', 'Apple',
       'Razer', 'Gigabyte', 'Dell', 'LG', 'Samsung', 'PcCom', 'Microsoft',
       'Primux', 'Prixton', 'Dynabook Toshiba', 'Thomson', 'Denver',
       'Deep Gaming', 'Vant', 'Innjoo', 'Jetwing', 'Millenium', 'Realme',
       'Toshiba'], dtype=object)

In [7]:
# number of unique laptop brands
df['Brand'].nunique()

27

In [8]:
# count the null columns
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [9]:
# maximum final price
df[df['Brand'] == 'Dell']['Final Price'].max()

np.float64(3936.0)

In [10]:
# median value of screen
df['Screen'].median()

np.float64(15.6)

In [11]:
# most frequent value of screen
df['Screen'].mode()

0    15.6
Name: Screen, dtype: float64

In [14]:
# fill null with mode
df['Screen'] = df['Screen'].fillna(df['Screen'].mode())

In [15]:
# median value of screen
df['Screen'].median()

np.float64(15.6)

In [33]:
# numpy array of RAM, Storage and Screen
X = np.array(df[df['Brand'] == 'Innjoo'][['RAM', 'Storage', 'Screen']])

In [39]:
# multiplication of x and transpose of x
XTX = np.dot(X.T, X)

In [40]:
# inverse of xtx
np.linalg.inv(XTX)

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

In [41]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [44]:
# multiplication of inverse of XTX with the transpose of X and y
np.dot(np.linalg.inv(XTX), X.T)

array([[ 0.26298349, -0.12560233, -0.40646389,  0.14958687,  0.05244042,
         0.05244042],
       [-0.00110155,  0.00295059,  0.00125892, -0.00177691, -0.00076387,
        -0.00076387],
       [-0.08772226,  0.0269791 ,  0.17140891, -0.0302108 , -0.00153546,
        -0.00153546]])

In [47]:
w = np.dot(np.dot(np.linalg.inv(XTX), X.T), y)

In [48]:
# sum of W
w.sum()

np.float64(91.2998806299555)